<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.daniel.reactionbuzz" >

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReactionGameActivity"
            android:label="@string/title_activity_reaction_game"
            android:parentActivityName=".MainMenu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NumberOfPlayers"
            android:label="@string/title_activity_number_of_players"
            android:parentActivityName=".MainMenu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TwoPlayerGame"
            android:label="@string/title_activity_two_player_game"
            android:parentActivityName=".NumberOfPlayers"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ThreePlayerGame"
            android:label="@string/title_activity_three_player_game"
            android:parentActivityName=".NumberOfPlayers"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FourPlayerGame"
            android:label="@string/title_activity_four_player_game"
            android:parentActivityName=".NumberOfPlayers"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PlayOnePop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomPopTheme" >
        </activity>
        <activity
            android:name=".PlayTwoPop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomPopTheme" >
        </activity>
        <activity
            android:name=".PlayThreePop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomPopTheme" >
        </activity>
        <activity
            android:name=".PlayFourPop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomPopTheme" >
        </activity>
        <activity
            android:name=".InfoPop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomPopTheme" >
        </activity>
        <activity
            android:name=".BuzzerStatsActivity"
            android:label="@string/title_activity_buzzer_stats"
            android:parentActivityName=".MainMenu"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
